<!-- My Portfolio created by Developer Mohamed Machlou  -->
<div class="experiences">
  <div class="container">
    <!-- Start Header -->
    <div class="main-header">
      <img src="../../../../assets/Images/Section logo.svg" alt="" />
      <div class="title">
        <h2>Experiences</h2>
      </div>
    </div>
    <!-- Start Header -->

    <!-- Start Sliders -->
    <!-- Angular -->
    <div class="slider">
      <div class="title">
        <h2>Angular</h2>
        <h2>80%</h2>
      </div>
      <div class="slider-body">
        <div class="under" style="width: 80%"></div>
      </div>
    </div>
    <!-- React JS -->
    <div class="slider">
      <div class="title">
        <h2>React JS</h2>
        <h2>40%</h2>
      </div>
      <div class="slider-body">
        <div class="under" style="width: 40%"></div>
      </div>
    </div>
    <!-- Node JS -->
    <div class="slider">
      <div class="title">
        <h2>Node JS</h2>
        <h2>10%</h2>
      </div>
      <div class="slider-body">
        <div class="under" style="width: 10%"></div>
      </div>
    </div>
    <!-- TypeScript -->
    <div class="slider">
      <div class="title">
        <h2>TypeScript</h2>
        <h2>70%</h2>
      </div>
      <div class="slider-body">
        <div class="under" style="width: 70%"></div>
      </div>
    </div>
    <!-- JavaScript -->
    <div class="slider">
      <div class="title">
        <h2>JavaScript</h2>
        <h2>70%</h2>
      </div>
      <div class="slider-body">
        <div class="under" style="width: 70%"></div>
      </div>
    </div>
    <!-- Python -->
    <div class="slider">
      <div class="title">
        <h2>Python</h2>
        <h2>60%</h2>
      </div>
      <div class="slider-body">
        <div class="under" style="width: 60%"></div>
      </div>
    </div>
    <!-- Bootstrap -->
    <div class="slider">
      <div class="title">
        <h2>Bootstrap</h2>
        <h2>60%</h2>
      </div>
      <div class="slider-body">
        <div class="under" style="width: 60%"></div>
      </div>
    </div>
    <!-- CSS -->
    <div class="slider">
      <div class="title">
        <h2>CSS</h2>
        <h2>80%</h2>
      </div>
      <div class="slider-body">
        <div class="under" style="width: 80%"></div>
      </div>
    </div>
    <!-- HTML5 -->
    <div class="slider">
      <div class="title">
        <h2>HTML5</h2>
        <h2>90%</h2>
      </div>
      <div class="slider-body">
        <div class="under" style="width: 90%"></div>
      </div>
    </div>
    <!-- Start Sliders -->
  </div>
</div>
