/* My Portfolio created by Developer Mohamed Machlou */
.experiences .container .slider .title {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.experiences .container .slider .title h2 {
  font-weight: 600;
  font-size: 15px;
}
.experiences .container .slider .slider-body {
  width: 60%;
  height: 8px;
  background-color: #ffffff;
  border: 1px solid gray;
}
.experiences .container .slider .slider-body .under {
  width: 80%;
  height: 6px;
  background-color: var(--secondary-color);
}
