<!-- My Portfolio created by Developer Mohamed Machlou  -->
<div id="projects" class="projects">
  <div class="container">
    <!-- Start Header -->
    <div class="main-header">
      <img src="../../../../assets/Images/Section logo.svg" alt="" />
      <div class="title">
        <h2>Projects</h2>
      </div>
    </div>
    <!-- Start Header -->
    <div class="project-body">
      <div class="project">
        <img src="../../../../assets/Images/Project1.png" alt="" />
        <button (click)="gotoproject1()">{{ title() }}</button>
      </div>
      <div class="project">
        <img src="../../../../assets/Images/Project2.png" alt="" />
        <button (click)="gotoproject2()">{{ title() }}</button>
      </div>
    </div>
  </div>
</div>
