/* My Portfolio created by Developer Mohamed Machlou */

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 40px;
  background-color: rgb(250, 158, 46);
  border-bottom: 1px solid gray;
  z-index: 6;
  position: relative;
}
.navbar .container .logo {
  font-weight: 800;
  font-size: 30px;
}
.navbar .container .logo span {
  color: var(--secondary-color);
}
.navbar .container ul {
  list-style: none;
}
/*Start  Large List */
/* Show Large List */
.navbar .container .large {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}
/*End  Large List */
/*Start Small List */
/* Hide Small List */
.navbar .container .small {
  display: none;
}
/*End Small List */
.navbar .container li a {
  display: block;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  padding: 7px 8px;
  font-weight: 800;
  font-size: 17px;
  color: black;
  cursor: pointer;
}
.nav-select {
  color: #ffffff !important;
  background-color: var(--secondary-color);
}
.navbar .container .large li:not(:last-child):hover a {
  background-color: var(--third-color);
  color: #ffffff;
}
.navbar .container li:last-child a {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar .container li:last-child:hover a {
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

/* Global Large and Small devices (desktops, 1199px and down) */
@media (max-width: 1199px) {
  .navbar .container .nav .menu {
    background-color: white;
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 5px 5px 0px;
    position: relative;
    width: 40px;
  }
  .navbar .container .nav .menu span {
    height: 2px;
    width: 100%;
    background-color: blue;
    margin-bottom: 4px;
  }
  .navbar .container .nav .menu span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
  }
  .navbar .container .nav .menu span:nth-child(3) {
    width: 75%;
    transition: 0.3s;
  }
  .navbar .container .nav .menu:hover span {
    height: 2px;
    width: 100%;
    background-color: blue;
    margin-bottom: 4px;
  }
  .navbar .container .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: yellowgreen;
  }
  /* Hide Large List */
  .navbar .container .large {
    display: none;
  }
  .navbar .container .nav .small {
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .navbar .container .nav .small li {
    border: 0.5px solid var(--secondary-color);
    margin-bottom: 2px;
    z-index: 8;
    background-color: white;
  }
}

/* Large devices (desktops, 992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar .container .nav .small {
    left: 617px;
    top: 50px;
  }

  .navbar .container .nav .small li {
    width: 300px;
  }
  .navbar .container .nav .small li a {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .container .nav .small {
    left: 400px;
    top: 50px;
  }

  .navbar .container .nav .small li {
    width: 300px;
  }
  .navbar .container .nav .small li a {
    width: 100%;
  }
  .navbar .container .logo {
    font-weight: 800;
    font-size: 25px;
  }
}
/* Small devices (landscape phones, 576px and 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .navbar .container .nav .small {
    left: 200px;
    top: 50px;
  }

  .navbar .container .nav .small li {
    width: 300px;
  }
  .navbar .container .nav .small li a {
    width: 100%;
  }
  .navbar .container .logo {
    font-weight: 800;
    font-size: 20px;
  }
}
