/* My Portfolio created by Developer Mohamed Machlou */
.certificates .container .certificates-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.certificates .container .certificates-block .certificate {
  width: 25%;
}
.certificates .container .certificates-block .certificate img {
  width: 100%;
  z-index: 1;
  transition: 0.5s;
}
.certificates .container .certificates-block .certificate img:hover {
  z-index: 1;
  transform: rotate(2deg);
}
.certificates .container .certificates-block .certificate button {
  z-index: 3;
  width: 100%;
}
