<!-- My Portfolio created by Developer Mohamed Machlou  -->
<div class="certificates">
  <div class="container">
    <!-- Start Header -->
    <div class="main-header">
      <img src="../../../../assets/Images/Section logo.svg" alt="" />
      <div class="title">
        <h2>Certificates</h2>
      </div>
    </div>
    <!-- Start Header -->
    <!-- Starter Certificates Block -->
    <div class="certificates-block">
      <div class="certificate">
        <img src="../../../../assets/Images/Angular.png" alt="" />
        <button>Check it</button>
      </div>
      <div class="certificate">
        <img src="../../../../assets/Images/Javascript.png" alt="" />
        <button>Check it</button>
      </div>
      <div class="certificate">
        <img src="../../../../assets/Images/Html.png" alt="" />
        <button>Check it</button>
      </div>
    </div>

    <!-- End Certificates Block -->
  </div>
</div>
