<!-- My Portfolio created by Developer Mohamed Machlou  -->
<div class="about">
  <div class="container">
    <div class="main-header">
      <img src="../../../../assets/Images/Section logo.svg" alt="" />
      <div class="title">
        <h2>About</h2>
      </div>
    </div>
    <div class="about-content">
      <h4>
        I'am a full stuck developer : <span>Angular - React JS - Node JS</span
        ><br />
        with some experiences <span>UI/UX</span> on figma <br />
        I want to boost my skills on AI prompts. <br />
        My Soft Skills :
        <span>Teamwork - Team Management -Adaptability and Flexibility</span>
      </h4>
    </div>
    <button>Hire Me</button>
  </div>
</div>
