/* My Portfolio created by Developer Mohamed Machlou */
.about .container {
  margin-top: 10px;
  margin-bottom: 20px;
}
.about .container .about-content h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.about .container .about-content span {
  font-weight: 800;
  font-size: 20px;
}
.about .container button {
  width: 170px;
  height: 35px;
  font-weight: 800;
  font-size: 15px;
  color: var(--main-color);
  border: 1px solid gray;
}
.about .container button:hover {
  background-color: var(--main-color);
  color: white;
}
