/* My Portfolio created by Developer Mohamed Machlou */

.welcome .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.welcome .container .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.welcome .container .img img {
  display: block;
  width: 350px;
}
.welcome .container .wel-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 30px;
  width: 50%;
}
.welcome .container .wel-box h4 {
  display: block;
  font-weight: 500;
  font-size: 17px;
  padding: 0px;
  margin: 10px 0px;
}
.welcome .container .wel-box h2 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 30px;
  padding: 0px;
  margin: 5px 0px;
}
.welcome .container .wel-box span {
  color: var(--main-color-sp);
}
/* Large devices (desktops, 992px to down) */
@media (max-width: 992px) {
  .welcome .container .img img {
    width: 250px;
    padding: 20px 10px;
  }
  .welcome .container .wel-box h2 {
    font-weight: 700;
    font-size: 22px;
  }
}
/* Large devices (desktops, 768px to down) */
@media (max-width: 768px) {
  .welcome .container {
    flex-direction: column-reverse;
  }
  .welcome .container .img {
    width: 100%;
  }
  .welcome .container .wel-box {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
