/* My Portfolio created by Developer Mohamed Machlou */

/* Start Variables */
:root {
  /* --main-color: #2a2c2b; */
  --main-color: #345ff8;
  --secondary-color: #143bc6;
  --third-color: #5c7df6;
  --main-color-sp: #f85734;
  --padding-section: 10px;
  --margin-section: 65px;
  --text-padding: 10px;
}
/* End Variables */
/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: transparent;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
html {
  scroll-behavior: smooth;
}
/* Start Media Query */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 556px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Media Query */

/* End Global Rules  */
/* Start header Component */
.main-header {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.main-header img {
  display: block;
  width: 80px;
  margin-right: 10px;
}
.main-header .title h2 {
  font-weight: 800;
  font-size: 22px;
  margin-top: 50px;
  color: var(--main-color-sp);
}
/* End header Component */
button {
  font-weight: 600;
  font-size: 25px;
  background-color: white;
  color: var(--main-color);
  border: 1px solid gray;
  height: 35px;
  cursor: pointer;
}
button:hover {
  background-color: var(--main-color);
  color: white;
}
